<div class="container">
    <div class="row">
        {{#each registrations}}
        <div class="col-sm-12 mt-3 mb-3">
            <div class="card">
                <!-- Шапка с навигацией -->
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#reg{{this.id}}">Запись о регистрации</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#evidence{{this.id}}">Вещественное
                                доказательство</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#person{{this.id}}">Лицо регистрирующее
                                вещественное доказательство</a>
                        </li>
                        <button type="button" class="btn btn-danger mb-2" onclick="remove({{this.id}})">
                            Удалить
                        </button>
                    </ul>
                </div>
                <!-- Текстовый контент -->
                <div class="card-body tab-content">
                    <div class="tab-pane fade show active" id="reg{{this.id}}">
                        <h2 class="card-title">Запись регистрации № {{this.id}}</h2>
                        <h4 class="card-title">Дата регистрации</h4>
                        <p class="card-text">{{this.acceptDate}}</p>
                        <h4 class="card-title">Отметка о целостности</h4>
                        <p class="card-text">{{this.integrityMark}}</p>
                        <h4 class="card-title">Заметка</h4>
                        <p class="card-text">{{this.note}}</p>
                    </div>
                    <div class="tab-pane fade" id="evidence{{this.id}}">
                        <h2 class="card-title">Вещественное доказательство</h2>
                        <h4 class="card-title">Наименование вещественного доказательства</h4>
                        <p class="card-text">{{this.MaterialEvidence.name}}</p>
                        <h4 class="card-title">Состояние вещественного доказательства</h4>
                        <p class="card-text">{{this.MaterialEvidence.state}}</p>
                        <h4 class="card-title">Тип вещественного доказательства</h4>
                        <p class="card-text">{{this.MaterialEvidence.TypeOfMaterialEvidence.name}}</p>
                    </div>
                    <div class="tab-pane fade" id="person{{this.id}}">
                        <h4 class="card-title">Лицо регистрирующее вещественное доказательство</h4>
                        <h4 class="card-title">Ф.И.О</h4>
                        <p class="card-text">{{this.ResponsiblePerson.lastName}} {{this.ResponsiblePerson.name}}
                            {{this.ResponsiblePerson.patronymicName}}</p>
                        <h4 class="card-title">Должность</h4>
                        <p class="card-text">{{this.ResponsiblePerson.Position.name}}</p>
                    </div>
                </div>
            </div><!-- Конец карточки -->
        </div>
        {{/each}}
    </div>
</div>
<script>
    function remove(id) {
        fetch("/api/registrations/" + id, {
            method: 'DELETE'
        }).then(() => {
            location.reload()
        }).catch(err => {
            console.error(err)
        });
    }
</script>