<div class="container">
    <div class="row">
        {{#each responsiblePeople}}
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-header">
                    {{this.name}} {{this.patronymicName}} {{this.lastName}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Информация</h5>
                    <p class="card-text">Должность: {{this.Position.name}}</p>
                    {{#if this.ExtraOptionId}}
                    <p class="card-text">Стаж: {{this.ExtraOption.experience}}</p>
                    <p class="card-text">Специальность: {{this.ExtraOption.Specialization.name}}</p>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>